.nav {
  grid-area: n;
  background-color: #aede;
  padding: 20px;
  .item {
    padding-bottom: 10px;
    & a{
      text-decoration: none;
      color: #fff;
      &.activeLink {
        color: gold;
      }
    }
  }
}